<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card" style="width:25rem">
            <img [src]="imgUrl" class="card-img-top img-thumbnail" />
            <div class="card-body text-center">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-title"><strong>Descripción</strong></h6>

                <p>{{descripcion}}</p>
                <p>${{precio}}</p>
            </div>
            <button class="btn btn-primary btn-block w-100" routerLink="dashboard">Volver</button>
        </div>
        
    </div>
    
</div>