p {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:white;
}

hr {
    border-color: #f05f44;
    border-width: 3px;
    max-width: 65px;
    margin: auto;
    
}
.layout{
    background:url('../../assets/img/img.jpg')no-repeat center center fixed ;
    background-size:cover;
    height:100vh;
}
.btn-xl{
    background-color:#f05f44;
    border-color:#f05f44;
    padding:1rem 2rem;
    border-radius: 300px;

}
.btn-xl:hover{
    background-color: #ee4b08;
    border-color: #ee4b08;
}